<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>bfmevents</name>
    <displayName><![CDATA[Bfm Events]]></displayName>
    <version><![CDATA[1.0.3]]></version>
    <description><![CDATA[This module let you save and show events]]></description>
    <author><![CDATA[Miguel Figueroa]]></author>
    <tab><![CDATA[administration]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>